VITE_API_URL=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
METAL_API_KEY=
METAL_API_BASE_URL=https://www.goldapi.io/api
ADMIN_EMAIL=
ADMIN_PASSWORD=
